*{
    margin: 0;
}

/* Index.html */

.page{
    margin-top: 0px;
    background-color:#34495e;
    width: 100%;
    height: 990px;
}
.menu{
    margin:  0px auto;
    height: 450px;
    width: 55%;
    
}
.level{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
}
.header-container{
    margin: 10px auto 50px;
    text-align: center;

}
.header{
    font-size: 50px;
    font-family: sans-serif;
    color:  white;
}
.description-text{
    text-align: center;
    margin-bottom: 40px;
}
.text{
    font-family: sans-serif;
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    color: white;
}
.easy{
    height: 150px;
    margin-bottom: 50px;
}
.easy-btn{
    font-family: sans-serif;
    width: 100%;
    height: 150px;
    font-size: 50px;
    color: white;
    background:#34495e;
    border-radius: 70px;
    box-shadow: none;
    border: 4px solid #3498db;
    cursor: pointer;
    transition: 0.25s;
}
.easy-btn:hover {
    color: white;
    background:#3498db;
}
.normal{
    
    height: 150px;
    margin-bottom: 50px;
    
}
.normal-btn{
    font-family: sans-serif;
    width: 100%;
    height: 150px;
    font-size: 50px;
    color: white;
    background:#34495e;
    border-radius: 70px;
    box-shadow: none;
    border: 4px solid #3498db;
    cursor: pointer;
    transition: 0.25s;
}
.normal-btn:hover {
    color: white;
    background:#3498db;
}
.hard{
    height: 150px; 
}
.hard-btn{
    font-family: sans-serif;
    width: 100%;
    height: 150px;
    font-size: 50px;
    color: white;
    background:#34495e;
    border-radius: 70px;
    box-shadow: none;
    border: 4px solid #3498db;
    cursor: pointer;
    transition: 0.25s;
}
.hard-btn:hover {
    color: white;
    background:#3498db;
}





/* Easy.html */

.page-easy{
    background-color: #34495e;
}

/* header */
.header-easy{
    text-align: center;
    margin-top: 10px;
}

.header-easy-text{
    font-family: sans-serif;
    color: white;
    font-size: 50px;
}


/*description */

.description-easy-box{
    margin: 20px auto;
    text-align: center;
    width: 55%;
}

.description-easy-text{
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}

/*easy-verb */

.verb-easy-box{
    text-align: center;
    width: 55%;
    margin: 20px auto;
    font-family: sans-serif;
    color: white;
}

.easy-verb{
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #fa8231;
}


/* input 2nd form */

.input-form-2-box{
    margin: 20px auto;
    text-align: center;
}

.input-2-form{
    width: 40%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    border-radius: 30px;
    border: 4px solid #3498db;
    background: none;
    color: white;
    transition: 0.25s;
}

.input-2-form:focus{
    width: 55%;
    border-color: #2ecc71;
}

.input-2-form-header{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
}



/* input 3rd form */

.input-form-3-box{
    margin: 50px auto;
    text-align: center;
}

.input-3-form{
    width: 40%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    border-radius: 30px;
    border: 4px solid #3498db;
    background: none;
    color: white;
    transition: 0.25s;
}

.input-3-form:focus{
    width: 55%;
    border-color: #2ecc71;
}

.input-3-form-header{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
}


/* buttons */
/* button 'back to menu' */

.btn-back-box{
    width: 55%;
    margin: auto;
    text-align: center;
}

.btn-back{
    width: 300px;
    height: 50px;
    background-color: #34495e;
    box-shadow: none;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    border-radius: 30px;
    text-align: center;
    border: 4px solid #fc5c65;
    cursor: pointer;
    transition: 0.25s;
}

.btn-back:hover {
    color: white;
    background: #fc5c65;
    
}

/* button check */
.btn-check-box{
    width: 40%;
    margin: 10px auto;
    text-align: center;
}

.btn-check{
    width: 300px;
    height: 50px;
    background-color: #34495e;
    box-shadow: none;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    border-radius: 30px;
    text-align: center;
    border: 4px solid #2ecc71;
    cursor: pointer;
    transition: 0.25s;
}

.btn-check:hover {
    color:white;
    background: #2ecc71;
}