*{
    margin: 0;
}

/* Index.html */
.menu{
    margin:  auto;
    height: 450px;
    width: 55%;
    
}
.level{
    text-align: center;
    color: white;
    font-family: comic sans ms;
    font-size: 50px;
}
.header-container{
    margin: 10px auto 50px;
    text-align: center;

}
.header{
    font-size: 50px;
    font-family: comic sans ms;
}
.description-text{
    text-align: center;
    margin-bottom: 50px;
}
.text{
    font-family: comic sans ms;
    font-size: 30px;
}
.easy{
    height: 150px;
    margin-bottom: 50px;
}
.easy-btn{
    font-family: comic sans ms;
    width: 100%;
    height: 150px;
    font-size: 50px;
    color: white;
    background: linear-gradient(to right, #790911, #00d4ff);
    border-radius: 12px;
    box-shadow: none;
}
.easy-btn:hover {
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px;
}
.normal{
    
    height: 150px;
    margin-bottom: 50px;
    
}
.normal-btn{
    font-family: comic sans ms;
    width: 100%;
    height: 150px;
    font-size: 50px;
    color: white;
    background: linear-gradient(to right,#24000d, #d7f906 );
    border-radius: 12px;
    box-shadow: none;
}
.normal-btn:hover {
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px;
}
.hard{
    height: 150px; 
}
.hard-btn{
    font-family: comic sans ms;
    width: 100%;
    height: 150px;
    font-size: 50px;
    color: white;
    background: linear-gradient(to right, #2111d5, #06f91e);
    border-radius: 12px;
    box-shadow: none;
}
.hard-btn:hover {
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px;
}





/* Easy.html */


/* header */
.header-easy{
    text-align: center;
    margin-top: 10px;
}

.header-easy-text{
    font-family: 'Lato' sans ms;
    font-size: 50px;
}


/*description */

.description-easy-box{
    margin: 20px auto;
    text-align: center;
    width: 55%;
}

.description-easy-text{
    font-family: 'Lato' sans ms;
    font-size: 20px;
}

/*easy-verb */

.verb-easy-box{
    text-align: center;
    width: 55%;
    margin: 20px auto;
    font-family: 'Lato' sans ms;
}

.easy-verb{
    font-family: 'Lato' sans ms;
    font-size: 30px;
    font-style: italic;
}


/* input 2nd form */

.input-form-2-box{
    margin: 20px auto;
    text-align: center;
}

.input-2-form{
    width: 55%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato' sans ms;
    margin-top: 10px;
}

.input-2-form-header{
    font-family: 'Lato' sans ms;
    font-size: 40px;
}

/* good-image */

.good{
    width: 50px;
    height: 50px;
    display: none;
}

/* input 3rd form */

.input-form-3-box{
    margin: 50px auto;
    text-align: center;
}

.input-3-form{
    width: 55%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato' sans ms;
    margin-top: 10px;
}

.input-3-form-header{
    font-family: 'Lato' sans ms;
    font-size: 40px;
}


/* buttons */
/* button 'back to menu' */

.btn-back-box{
    width: 55%;
    margin: auto;
    text-align: center;
}

.btn-back{
    width: 100%;
    height: 50px;
    background-color: crimson;
    box-shadow: none;
    font-family: 'Lato' sans ms;
    color: white;
    font-size: 30px;
    border-radius: 12px;
    text-align: center;
}

.btn-back:hover {
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px;
}

/* button check */
.btn-check-box{
    width: 55%;
    margin: 10px auto;
    text-align: center;
}

.btn-check{
    width: 100%;
    height: 50px;
    background-color: LIMEGREEN;
    box-shadow: none;
    font-family: 'Lato' sans ms;
    color: white;
    font-size: 30px;
    border-radius: 12px;
    text-align: center;
}

.btn-check:hover {
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px;
}